<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="secureAppSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<secureAppSettings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
   xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>NOZAlL/7VqcXRuVCZ/naT6IrDMXaF19+Mq3c1dsZXTbzVYrRciL1k7HCipFLoYfyRSzcwF+oZdZa+f+FB36yOevd1ggM9HMBxmyDOvhh7gNqB39A5aghSIeDtSs9pkMLSeQXtxRI3mVbjnzfBSB+aGgoC4QiUhO0sR6WP2EgKghbLfAuGIIuJFJGsc/7YDOn0OpBnLZmODOEt86XDz3FbN41F1wb3S+PqLDnzztsDgl2USzRVgB8dJFy7xXZYwDk3RxRBz+SUji0tDlTuSghs5OWeLh8/fWuC8Rf43zgmL6nEP/w+X5jQKB8iCRpZJsDqUW6xmUgJ9aTMSIXrTemfw==</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>vI5qEGeq22AfJe0g3CTgeP8YgeWF/eyJAW+JbCQHm6Bv8htNyE5lQ2zrvCRC8VDhvB+xxyL+pmjs8pWg7wTZ3Mj4ssP1gzu6OlM1HRy/dgoVRyERLrUJV1MrPWyBc+NJ9ADqBwpQP1fb0TUxWZfPhlSISxTbiLEFYv/erZKVhm+c6LNtt0cD6WnF3z6XSmzfz/U+6axlIfgtxJKTzZO0/oNiFOGhT8cmMUgxNquJa/5tCdyxn3YQr03Zi9OvKxAAxklW2w8P+Ujw+T/384kABWUjRil45kstLrcXTnSBXuOkxZQWbi5fYKosG6fVkSBSM96YsxNt433vchBxOjNN99hC/WHsLCzhtkXJqvFyiP8FW+dFjUV4uALbg1XmTgkG8m7YhIGplWYioy23Bqdty42VhrO2jWlNCyRdP/TGoo9YGXi1UBHc0wRhf8sIk3Qb+8ZWve9sGJwAEV1Hz7EdNtXTkPJHvj2yKS8Hlq1N47/xL6YUZ6NKg4D6Ibc3RtjdsgEuqDMWzIJvXM5HS5g452nwLGNmX4i1GjqVBa1Y5Fkt5ADDsF2NYwFVQ5lZpQEGkiFWx6SSd3wybSjYT9x2gEhiUlDDugO3QmtlzBtDLMqcw8Wl7urKa677KplhuK/C/UU2DTZNCCM7rT3c+rCnziY3TiIdkReDfGVgZCDT1N1wHZJcivB3pPfC1KiGjQR4qQgVxb2ulJX8+iAx2CLBS4Aj7xsAb8dFsLRJ3MxqjEQ=</CipherValue>
   </CipherData>
  </EncryptedData>
 </secureAppSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<authentication mode="None" />
		<authorization>
			<allow users="*" />
		</authorization>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>
</configuration>
