<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Importadora Moya y Ulate | Usuarios</title>
    <link href="~/Assets/img/icono.png" rel="icon">
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <link href="~/Assets/css/core/libs.min.css" rel="stylesheet" />
    <link href="~/Assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="~/Assets/css/hope-ui.css" rel="stylesheet" />
    <link href="~/Assets/css/custom.css" rel="stylesheet" />
    <link href="~/Assets/css/dark.css" rel="stylesheet" />
    <link href="~/Assets/css/customizer.css" rel="stylesheet" />
    <link href="~/Assets/css/rtl.css" rel="stylesheet" />
    <link href="~/Assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Assets/css/responsive_login.css" rel="stylesheet">


</head>
<body>
    <header> </header>

    @RenderBody()

    <footer></footer>

    <script src="~/Assets/js/core/libs.min.js"></script>
    <script src="~/Assets/js/core/external.min.js"></script>
    <script src="~/Assets/js/charts/widgetcharts.js"></script>
    <script src="~/Assets/js/charts/vectore-chart.js"></script>
    <script src="~/Assets/js/charts/dashboard.js"></script>
    <script src="~/Assets/js/plugins/fslightbox.js"></script>
    <script src="~/Assets/js/plugins/setting.js"></script>
    <script src="~/Assets/js/plugins/slider-tabs.js"></script>
    <script src="~/Assets/js/plugins/form-wizard.js"></script>
    <script src="~/Assets/vendor/aos/aos.js"></script>
    <script src="~/Assets/js/hope-ui.js" defer></script>

</body>
</html>
