<!DOCTYPE html>
<html lang="en">

<head>
    </head>

<body>

    @*HEADER*@
    @*HEADER*@


    @RenderBody()


    @*FOOTER*@
    <footer id="footer">

    </footer>

    @*FOOTER*@

</body>

</html>