@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_deAdmin.cshtml";
}

<style>

    .invalid-feedback {
        color: red;
        font-size: 0.8em;
        margin-top: 5px;
    }
</style>

@*BIENVENIDA*@
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>Administración de Importadora Moya y Ulate</h1>
                @*<h2>Lentes que te hacen ver el mundo de una manera totalmente nueva, <span>¡Adquiere los tuyos!</span></h2>*@

            </div>
        </div>

        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-product-hunt-line"></i>
                    <h3>Administración de Inventario</h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-user-line"></i>
                    <h3>Administración de Usuarios</h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-shake-hands-line"></i>
                    <h3>Administración de Proveedores</h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-calculator-line"></i>
                    <h3>Administración de Facturas</h3>
                </div>
            </div>

        </div>

    </div>
</section>
@*BIENVENIDA*@

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

@*CAMBIO DE CLAVE*@
<div class="modal fade" id="cambiarContrasenaModal" tabindex="-1" aria-labelledby="cambiarContrasenaModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cambiarContrasenaModalLabel">Cambiar Contraseña</h5>
            </div>
            <div class="modal-body">
                <form id="cambiarContrasenaForm" action="/Usuario/CambiarContrasenaTemporal" method="POST">
                    <div class="mb-3">
                        <div class="form-group position-relative">
                            <label for="nuevaContrasena" class="form-label">Nueva Contraseña</label>
                            <input type="password" class="form-control" id="nuevaContrasena" name="nuevaContrasena">
                            <i class="bi bi-eye-slash toggle-password" style="cursor: pointer; position: absolute; right: 15px; top: 72%; transform: translateY(-50%); font-size: 1.5em;"></i>
                        </div>
                        <div id="errorNuevaContra" class="text-danger" style="font-size:12px;"></div>
                    </div>
                    <div style="text-align:center;">
                        <button type="submit" class="btn btn-info" style="background-color: #6282a9;border:none;color:white;">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*CAMBIO DE CLAVE*@

<script>
    $(document).ready(function () {
        $('#cambiarContrasenaModal').modal({
            backdrop: 'static',
            keyboard: false
        });
    });

</script>


<script>
    $(document).ready(function () {
    // Verificar si la variable de sesión CONTRASENA_TEMPORAL es diferente de cero
        var contrasenaTemporal = @Session["Contrasena_Temporal"];

    if (contrasenaTemporal !== 0) {
        // Mostrar el modal para cambiar la contraseña
        $('#cambiarContrasenaModal').modal('show');
    }

        $(document).ready(function () {
            $('#cambiarContrasenaForm').submit(function (event) {
                event.preventDefault();

                // Obtener el valor de la nueva contraseña
                var nuevaContrasena = $('#nuevaContrasena').val();
                document.getElementById("errorNuevaContra").innerText = "";

                if (nuevaContrasena.length == 0) {
                    document.getElementById("errorNuevaContra").innerText = "Este campo es obligatorio.";

                }
                // Validar que la contraseña cumpla con los criterios requeridos
                if (nuevaContrasena.length < 6 || !/[a-zA-Z]/.test(nuevaContrasena) || !/\d/.test(nuevaContrasena) || !/[^a-zA-Z0-9]/.test(nuevaContrasena)) {
                    // La contraseña no cumple con los criterios, mostrar mensaje de error
                    document.getElementById("errorNuevaContra").innerText = "La contraseña debe tener al menos 6 caracteres y contener números, letras y caracteres especiales ('@@#$%!&()')";
                  } else {
                    document.getElementById("errorNuevaContra").innerText = "";
                    $('<input />').attr('type', 'hidden')
                        .attr('name', 'nuevaContrasena')
                        .attr('value', nuevaContrasena)
                        .appendTo('#cambiarContrasenaForm');

                    // Enviar el formulario
                    this.submit();
                }
            });
        });

});

</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.addEventListener("click", function (event) {
            if (event.target.classList.contains("toggle-password")) {
                var passwordInput = event.target.parentNode.querySelector("input[type='password']");
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    event.target.className = "bi bi-eye";
                } else {
                    passwordInput.type = "password";
                    event.target.className = "bi bi-eye-slash";
                }

                event.target.addEventListener("click", function () {
                    if (passwordInput.type === "password") {
                        passwordInput.type = "text";
                        event.target.className = "bi bi-eye";
                    } else {
                        passwordInput.type = "password";
                        event.target.className = "bi bi-eye-slash";
                    }
                });
            }
        });
    });
</script>
