@{
    ViewBag.Title = "Acerca";
}

@*INFORMACION*@
<main id="main">
    <section id="about" class="about" style="margin-top:90px;">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="~/Assets/img/acerca-imagen1.jpg" class="img-fluid" alt="" >
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                    <br />
                    <br />
                    <h3>Importadora Moya y Ulate</h3>
                    <p class="fst-italic" style="text-align:justify;">
                        <br />
                        <br />
                        La Importadora Moya y Ulate es una empresa nacional dedicada a ofrecer a sus clientes los mejores lentes de sol, gafas de aumento y una amplia variedad de accesorios ópticos. Fundada en el año 2015, nuestra empresa ha crecido de manera constante y se ha consolidado como un referente en el mercado de artículos ópticos en Costa Rica.
                        <br />
                        <br />
                        Ubicados en Grecia, Alajuela, la Importadora Moya y Ulate es una empresa familiar que ha llevado consigo valores fundamentales desde sus inicios. Nuestra misión es proporcionar productos de alta calidad que no solo satisfagan las necesidades visuales de nuestros clientes, sino que también reflejen su estilo y personalidad.
                </div>
            </div>
        </div>
    </section>
    <section id="acerca" class="acerca">
        <div class="container" data-aos="fade-up">

            <div class="row no-gutters">
                <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
                <div class="col-xl-7 ps-4 ps-lg-5 pe-4 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
                    <div class="content d-flex flex-column justify-content-center">
                        <h4>Comprometidos con la Excelencia</h4>
                        <div class="row">
                            <p class="fst-italic" style="text-align:justify;">
                                <br />
                                <br />
                                En Importadora Moya y Ulate, entendemos la importancia de la moda y la funcionalidad en el mundo de los accesorios ópticos. Por ello, nos mantenemos actualizados con las últimas tendencias en diseño y tecnología en la industria. Trabajamos en estrecha colaboración con fabricantes internacionales de renombre para garantizar que cada producto que ofrecemos cumpla con los más altos estándares de calidad.
                                <br />
                                <br />
                                Para nosotros, la visión va más allá de la óptica: buscamos construir relaciones sólidas con nuestros clientes y contribuir al bienestar visual de la comunidad costarricense. A medida que avanzamos en el tiempo, seguimos comprometidos con la innovación, la calidad y el servicio excepcional, marcando así nuestro camino hacia un futuro donde la Importadora Moya y Ulate continúe siendo sinónimo de excelencia en el mundo de los accesorios ópticos en Costa Rica. ¡Gracias por confiar en nosotros!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
    @*INFORMACION*@
