USE [master]
GO
/****** Object:  Database [ImportadoraMoyaUlate]    Script Date: 2/2/2024 11:24:35 AM ******/
CREATE DATABASE [ImportadoraMoyaUlate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ImportadoraMoyaUlate', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ImportadoraMoyaUlate.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ImportadoraMoyaUlate_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ImportadoraMoyaUlate_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ImportadoraMoyaUlate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ImportadoraMoyaUlate]
GO
/****** Object:  Table [dbo].[Canton]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canton](
	[ID_Provincia] [int] NOT NULL,
	[ID_Canton] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_Canton] PRIMARY KEY CLUSTERED 
(
	[ID_Canton] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[ID_Carrito] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [bigint] NOT NULL,
	[ID_Producto] [bigint] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[FechaCarrito] [datetime] NOT NULL,
 CONSTRAINT [PK_TCarrito] PRIMARY KEY CLUSTERED 
(
	[ID_Carrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direcciones]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direcciones](
	[ID_Direccion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Provincia] [int] NOT NULL,
	[ID_Canton] [int] NOT NULL,
	[ID_Distrito] [int] NOT NULL,
	[Direccion_Exacta] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Tbl_Direcciones] PRIMARY KEY CLUSTERED 
(
	[ID_Direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[ID_Provincia] [int] NOT NULL,
	[ID_Canton] [int] NOT NULL,
	[ID_Distrito] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_Distrito] PRIMARY KEY CLUSTERED 
(
	[ID_Distrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[ID_Empresa] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre_empresa] [varchar](255) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
	[Ubicacion] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[ID_Empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[ID_Estado] [int] NOT NULL,
	[Tipo_Estado] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura_Detalle]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura_Detalle](
	[ID_Detalle] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_Factura] [bigint] NOT NULL,
	[ID_Producto] [bigint] NOT NULL,
	[PrecioPagado] [decimal](18, 2) NOT NULL,
	[CantidadPagado] [int] NOT NULL,
	[ImpuestoPagado] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_FacturaDetalle] PRIMARY KEY CLUSTERED 
(
	[ID_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura_Encabezado]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura_Encabezado](
	[ID_Factura] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [bigint] NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
	[TotalCompra] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_FacturaEncabezado] PRIMARY KEY CLUSTERED 
(
	[ID_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Identificacion]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Identificacion](
	[ID_Identificacion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Tbl_Identificacion] PRIMARY KEY CLUSTERED 
(
	[ID_Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[ID_Producto] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_Categoria] [int] NOT NULL,
	[Nombre] [varchar](250) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Imagen] [varchar](250) NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[ID_Categoria] [int] IDENTITY (1,1) NOT NULL,
	[Nombre_Categoria] [varchar](15) NOT NULL,
	[Estado_Categoria] [int] NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Proveedores](
	[ID_Proveedor] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_Identificacion] [int] NOT NULL,
	[Nombre_Proveedor] [varchar](255) NOT NULL,
	[Apellido_Proveedor] [varchar](255) NULL,
	[Cedula_Proveedor] [varchar](15) NOT NULL,
	[Direccion_Exacta] [varchar](255) NOT NULL,
	[Estado_Proveedor] [int] NOT NULL,
	[Empresa] [bigint] NOT NULL,
	[Telefono] [varchar](15) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[ID_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[ID_Provincia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Tbl_Provincia] PRIMARY KEY CLUSTERED 
(
	[ID_Provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID_Rol] [int] NOT NULL,
	[Nombre_Rol] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Tbl_Rol] PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_Identificacion] [int] NOT NULL,
	[Identificacion_Usuario] [varchar](25) NOT NULL,
	[Nombre_Usuario] [varchar](60) NOT NULL,
	[Apellido_Usuario] [varchar](70) NULL,
	[Correo_Usuario] [varchar](100) NOT NULL,
	[Contrasenna_Usuario] [varchar](50) NOT NULL,
	[ID_Direccion] [int] NULL,
	[Telefono_Usuario] [varchar](20) NULL,
	[ID_Estado] [int] NOT NULL,
	[ID_Rol] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Canton] ([ID_Provincia], [ID_Canton], [Nombre]) VALUES (1, 101, N'San José')
INSERT [dbo].[Canton] ([ID_Provincia], [ID_Canton], [Nombre]) VALUES (1, 102, N'Escazú')
INSERT [dbo].[Canton] ([ID_Provincia], [ID_Canton], [Nombre]) VALUES (1, 103, N'Desamparados')
GO
INSERT [dbo].[Categorias] ([Nombre_Categoria], [Estado_Categoria]) VALUES (N'Hombre',1)
INSERT [dbo].[Categorias] ([Nombre_Categoria], [Estado_Categoria]) VALUES (N'Mujer',1)
INSERT [dbo].[Categorias] ([Nombre_Categoria], [Estado_Categoria]) VALUES (N'Niños',1)
GO
SET IDENTITY_INSERT [dbo].[Direcciones] ON 

INSERT [dbo].[Direcciones] ([ID_Direccion], [ID_Provincia], [ID_Canton], [ID_Distrito], [Direccion_Exacta]) VALUES (1, 1, 101, 10101, N'500 metros oeste ')
INSERT [dbo].[Direcciones] ([ID_Direccion], [ID_Provincia], [ID_Canton], [ID_Distrito], [Direccion_Exacta]) VALUES (3, 4, 401, 40102, N'Nueva Dirección')
INSERT [dbo].[Direcciones] ([ID_Direccion], [ID_Provincia], [ID_Canton], [ID_Distrito], [Direccion_Exacta]) VALUES (4, 4, 408, 40802, N'500 metros oeste')
SET IDENTITY_INSERT [dbo].[Direcciones] OFF
GO
INSERT [dbo].[Distrito] ([ID_Provincia], [ID_Canton], [ID_Distrito], [Nombre]) VALUES (1, 101, 10101, N'Carmen')
INSERT [dbo].[Distrito] ([ID_Provincia], [ID_Canton], [ID_Distrito], [Nombre]) VALUES (1, 101, 10102, N'Merced')
INSERT [dbo].[Distrito] ([ID_Provincia], [ID_Canton], [ID_Distrito], [Nombre]) VALUES (1, 101, 10103, N'Hospital')
GO
INSERT [dbo].[Estado] ([ID_Estado], [Tipo_Estado]) VALUES (0, N'Inactivo')
INSERT [dbo].[Estado] ([ID_Estado], [Tipo_Estado]) VALUES (1, N'Activo')
GO
SET IDENTITY_INSERT [dbo].[Identificacion] ON 

INSERT [dbo].[Identificacion] ([ID_Identificacion], [Nombre]) VALUES (1, N'Cédula Física')
INSERT [dbo].[Identificacion] ([ID_Identificacion], [Nombre]) VALUES (2, N'Cédula Jurídica')
INSERT [dbo].[Identificacion] ([ID_Identificacion], [Nombre]) VALUES (3, N'Pasaporte')
SET IDENTITY_INSERT [dbo].[Identificacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([ID_Producto], [ID_Categoria], [Nombre], [Descripcion], [Cantidad], [Precio], [Imagen], [Estado]) VALUES (3, 1, N'Lentes Estilo 5', N'Lentes cuadrados negros para hombre', 18, CAST(50000.00 AS Decimal(18, 2)), N'/Images/3.png', 1)
INSERT [dbo].[Producto] ([ID_Producto], [ID_Categoria], [Nombre], [Descripcion], [Cantidad], [Precio], [Imagen], [Estado]) VALUES (5, 2, N'Lentes MAP', N'Lentes redondos mujer', 6, CAST(30000.00 AS Decimal(18, 2)), N'/Images/5.png', 1)
INSERT [dbo].[Producto] ([ID_Producto], [ID_Categoria], [Nombre], [Descripcion], [Cantidad], [Precio], [Imagen], [Estado]) VALUES (6, 2, N'Lentes Gucci', N'Lentes cuadrados y grandes', 2, CAST(52000.00 AS Decimal(18, 2)), N'/Images/6.png', 1)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([ID_Provincia], [Nombre]) VALUES (1, N'San José')
INSERT [dbo].[Provincia] ([ID_Provincia], [Nombre]) VALUES (2, N'Alajuela')
INSERT [dbo].[Provincia] ([ID_Provincia], [Nombre]) VALUES (3, N'Cartago')
SET IDENTITY_INSERT [dbo].[Provincia] OFF
GO
INSERT [dbo].[Roles] ([ID_Rol], [Nombre_Rol]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([ID_Rol], [Nombre_Rol]) VALUES (2, N'Usuario')
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID_Usuario], [ID_Identificacion], [Identificacion_Usuario], [Nombre_Usuario], [Apellido_Usuario], [Correo_Usuario], [Contrasenna_Usuario], [ID_Direccion], [Telefono_Usuario], [ID_Estado], [ID_Rol]) VALUES (2, 1, N'402590056', N'Angelica', N'Valerin', N'angelicavalerin13@gmail.com', N'a!123456789', NULL, N'85300459', 1, 1)
INSERT [dbo].[Usuario] ([ID_Usuario], [ID_Identificacion], [Identificacion_Usuario], [Nombre_Usuario], [Apellido_Usuario], [Correo_Usuario], [Contrasenna_Usuario], [ID_Direccion], [Telefono_Usuario], [ID_Estado], [ID_Rol]) VALUES (3, 1, N'123456789', N'John', N'Doe', N'john.doe@example.com', N'secreto', NULL, N'123-456-7890', 0, 1)
INSERT [dbo].[Usuario] ([ID_Usuario], [ID_Identificacion], [Identificacion_Usuario], [Nombre_Usuario], [Apellido_Usuario], [Correo_Usuario], [Contrasenna_Usuario], [ID_Direccion], [Telefono_Usuario], [ID_Estado], [ID_Rol]) VALUES (4, 1, N'102590214', N'Paola', N'Delgado', N'paola@gmail.com', N'a!123456789', 1, N'', 1, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Identificacion_Usuario]    Script Date: 2/2/2024 11:24:36 AM ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [UK_Identificacion_Usuario] UNIQUE NONCLUSTERED 
(
	[Identificacion_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Canton]  WITH CHECK ADD  CONSTRAINT [FK_Canton_Provincia] FOREIGN KEY([ID_Provincia])
REFERENCES [dbo].[Provincia] ([ID_Provincia])
GO
ALTER TABLE [dbo].[Canton] CHECK CONSTRAINT [FK_Canton_Provincia]
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD  CONSTRAINT [FK_Carrito_Producto] FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[Producto] ([ID_Producto])
GO
ALTER TABLE [dbo].[Carrito] CHECK CONSTRAINT [FK_Carrito_Producto]
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD  CONSTRAINT [FK_Carrito_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Carrito] CHECK CONSTRAINT [FK_Carrito_Usuario]
GO
ALTER TABLE [dbo].[Direcciones]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_Canton] FOREIGN KEY([ID_Canton])
REFERENCES [dbo].[Canton] ([ID_Canton])
GO
ALTER TABLE [dbo].[Direcciones] CHECK CONSTRAINT [FK_Direccion_Canton]
GO
ALTER TABLE [dbo].[Direcciones]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_Distrito] FOREIGN KEY([ID_Distrito])
REFERENCES [dbo].[Distrito] ([ID_Distrito])
GO
ALTER TABLE [dbo].[Direcciones] CHECK CONSTRAINT [FK_Direccion_Distrito]
GO
ALTER TABLE [dbo].[Direcciones]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_Provincia] FOREIGN KEY([ID_Provincia])
REFERENCES [dbo].[Provincia] ([ID_Provincia])
GO
ALTER TABLE [dbo].[Direcciones] CHECK CONSTRAINT [FK_Direccion_Provincia]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [FK_Distrito_Canton] FOREIGN KEY([ID_Canton])
REFERENCES [dbo].[Canton] ([ID_Canton])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [FK_Distrito_Canton]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [FK_Distrito_Provincia] FOREIGN KEY([ID_Provincia])
REFERENCES [dbo].[Provincia] ([ID_Provincia])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [FK_Distrito_Provincia]
GO
ALTER TABLE [dbo].[Factura_Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Detalle_Factura_Encabezado] FOREIGN KEY([ID_Factura])
REFERENCES [dbo].[Factura_Encabezado] ([ID_Factura])
GO
ALTER TABLE [dbo].[Factura_Detalle] CHECK CONSTRAINT [FK_Factura_Detalle_Factura_Encabezado]
GO
ALTER TABLE [dbo].[Factura_Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Detalle_Producto] FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[Producto] ([ID_Producto])
GO
ALTER TABLE [dbo].[Factura_Detalle] CHECK CONSTRAINT [FK_Factura_Detalle_Producto]
GO
ALTER TABLE [dbo].[Factura_Encabezado]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Encabezado_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Factura_Encabezado] CHECK CONSTRAINT [FK_Factura_Encabezado_Usuario]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Categorias] ([ID_Categoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Estado] FOREIGN KEY([Estado])
REFERENCES [dbo].[Estado] ([ID_Estado])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Estado]
GO
ALTER TABLE [dbo].[Categorias]  WITH CHECK ADD  CONSTRAINT [FK_Estado_Categoria] FOREIGN KEY([Estado_Categoria])
REFERENCES [dbo].[Estado] ([ID_Estado])
GO
ALTER TABLE [dbo].[Categorias] CHECK CONSTRAINT [FK_Estado_Categoria]
GO
ALTER TABLE [dbo].[Proveedores]  WITH CHECK ADD  CONSTRAINT [FK_Proveedores_Empresa] FOREIGN KEY([Empresa])
REFERENCES [dbo].[Empresa] ([ID_Empresa])
GO
ALTER TABLE [dbo].[Proveedores] CHECK CONSTRAINT [FK_Proveedores_Empresa]
GO
ALTER TABLE [dbo].[Proveedores]  WITH CHECK ADD  CONSTRAINT [FK_Proveedores_Estado] FOREIGN KEY([Estado_Proveedor])
REFERENCES [dbo].[Estado] ([ID_Estado])
GO
ALTER TABLE [dbo].[Proveedores] CHECK CONSTRAINT [FK_Proveedores_Estado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Direccion] FOREIGN KEY([ID_Direccion])
REFERENCES [dbo].[Direcciones] ([ID_Direccion])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Direccion]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Estado] FOREIGN KEY([ID_Estado])
REFERENCES [dbo].[Estado] ([ID_Estado])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Estado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Identificacion] FOREIGN KEY([ID_Identificacion])
REFERENCES [dbo].[Identificacion] ([ID_Identificacion])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Identificacion]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles] ([ID_Rol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO

ALTER TABLE [dbo].[Proveedores] WITH CHECK ADD CONSTRAINT FK_Proveedores_Identificacion 
    FOREIGN KEY ([ID_Identificacion]) 
    REFERENCES [dbo].[Identificacion] ([ID_Identificacion]);
GO
/****** Object:  StoredProcedure [dbo].[ActualizarCuentaUsuarioSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarCuentaUsuarioSP]
	@ID BIGINT,
    @Nombre VARCHAR(60),
	@Apellido VARCHAR(70),
    @Correo VARCHAR(100),
	@NuevaContrasenna VARCHAR(50),
	@Telefono VARCHAR(20),
	@Prov INT,
	@Canton INT,
	@Distrito INT,
	@Direccion VARCHAR(500)
AS
BEGIN
    DECLARE @NuevaDireccionID INT

    -- Verificar si ID_Direccion es nulo
	IF (SELECT ID_Direccion FROM dbo.Usuario WHERE ID_Usuario = @ID) IS NULL
	BEGIN
		-- Insertar un nuevo registro en la tabla Direcciones
		INSERT INTO dbo.Direcciones(ID_Provincia, ID_Canton, ID_Distrito, Direccion_Exacta)
		VALUES (@Prov, @Canton, @Distrito, @Direccion);

		-- Obtener el ID de la dirección recién insertada
		SET @NuevaDireccionID = SCOPE_IDENTITY();
	END
	ELSE
	BEGIN
		-- Obtener el ID de la dirección existente
		SET @NuevaDireccionID = (SELECT ID_Direccion FROM dbo.Usuario WHERE ID_Usuario = @ID);

		-- Actualizar la tabla Direcciones con los nuevos datos
		UPDATE dbo.Direcciones
		SET ID_Provincia = @Prov,
			ID_Canton = @Canton,
			ID_Distrito = @Distrito,
			Direccion_Exacta = @Direccion
		WHERE ID_Direccion = @NuevaDireccionID;
	END

    -- Actualizar la tabla Usuario con los nuevos valores
	UPDATE dbo.Usuario
	SET Nombre_Usuario = @Nombre,
		Apellido_Usuario = @Apellido,
		Correo_Usuario = @Correo,
		Contrasenna_Usuario = @NuevaContrasenna,
		ID_Direccion = @NuevaDireccionID,
		Telefono_Usuario = @Telefono
	WHERE ID_Usuario = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEmpresaSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarEmpresaSP]
    @ID_Empresa bigint,
    @Nombre_empresa varchar(255),
    @Descripcion varchar(255),
    @Ubicacion varchar(255)
AS
BEGIN
    UPDATE dbo.Empresa
    SET
        Nombre_empresa = @Nombre_empresa,
        Descripcion = @Descripcion,
        Ubicacion = @Ubicacion
    WHERE ID_Empresa = @ID_Empresa;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarCategoriaSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarCategoriaSP]
    @ID_Categoria int,
    @Nombre_Categoria varchar(255)
AS
BEGIN
    UPDATE dbo.Categorias
    SET
        Nombre_Categoria = @Nombre_Categoria
    WHERE ID_Categoria = @ID_Categoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEstadoProveedorSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarEstadoProveedorSP]
    @ID_Proveedor BIGINT
AS
BEGIN
    UPDATE Proveedores
    SET Estado_Proveedor = (CASE WHEN Estado_Proveedor = 1 THEN 0 ELSE 1 END)
    WHERE ID_Proveedor = @ID_Proveedor;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEstadoUsuarioSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarEstadoUsuarioSP]
    @ID_Usuario BIGINT
AS
BEGIN
    UPDATE Usuario
    SET ID_Estado = (CASE WHEN ID_Estado = 1 THEN 0 ELSE 1 END)
    WHERE ID_Usuario = @ID_Usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEstadoCategoriaSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarEstadoCategoriaSP]
    @ID_Categoria BIGINT
AS
BEGIN
    UPDATE Categorias
    SET Estado_Categoria = (CASE WHEN Estado_Categoria = 1 THEN 0 ELSE 1 END)
    WHERE ID_Categoria = @ID_Categoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarProveedorSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarProveedorSP]
    @ID_Proveedor BIGINT,
    @Nombre_Proveedor VARCHAR(255),
    @Apellido_Proveedor VARCHAR(255),
    @Direccion_Exacta VARCHAR(255),
    @Empresa BIGINT,
    @Telefono VARCHAR(15),
    @Correo VARCHAR(100)
AS
BEGIN
    UPDATE dbo.Proveedores
    SET
        Nombre_Proveedor = @Nombre_Proveedor,
        Apellido_Proveedor = @Apellido_Proveedor,
        Direccion_Exacta = @Direccion_Exacta,
        Empresa = @Empresa,
        Telefono = @Telefono,
        Correo = @Correo
    WHERE ID_Proveedor = @ID_Proveedor;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarRolUsuarioSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarRolUsuarioSP]
    @ID_Usuario BIGINT
AS
BEGIN
    UPDATE Usuario
    SET ID_Rol = (CASE WHEN ID_Rol = 2 THEN 1 ELSE 2 END)
    WHERE ID_Usuario = @ID_Usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarCategoriaSP]    Script Date: 3/2/2024 16:48:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarCategoriaSP]
    @ID_Categoria bigint
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Categorias WHERE ID_Categoria = @ID_Categoria;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarEmpresaSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarEmpresaSP]
    @ID_Empresa bigint
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Empresa WHERE ID_Empresa = @ID_Empresa;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarProveedorSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarProveedorSP]
    @ID_Proveedor bigint
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Proveedores WHERE ID_Proveedor = @ID_Proveedor;
END
GO
/****** Object:  StoredProcedure [dbo].[InactivarUsuarioSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InactivarUsuarioSP]
	@CodigoUsuario	BIGINT
AS
BEGIN
	
	UPDATE	dbo.Usuario
	SET		ID_Estado=0
	WHERE	ID_Usuario = @CodigoUsuario

END;
GO
/****** Object:  StoredProcedure [dbo].[IniciarSesionSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IniciarSesionSP]
	@Correo         varchar(100),
    @Contrasenna    varchar(50)
AS
BEGIN
	
	SELECT ID_Usuario, ID_Identificacion, Identificacion_Usuario, Nombre_Usuario, Apellido_Usuario, Correo_Usuario, Contrasenna_Usuario,ID_Direccion=0,Telefono_Usuario,ID_Estado,ID_Rol
	From Usuario
	  WHERE Correo_Usuario = @Correo
	  AND   Contrasenna_Usuario = @Contrasenna
	  AND	ID_Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[PagarCarritoSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PagarCarritoSP]
	@ID_Usuario BIGINT
AS
BEGIN
	
	IF (SELECT	TOP 1 P.Cantidad - C.Cantidad 
		FROM	Producto	P
		INNER	JOIN	Carrito  C	ON P.ID_Producto = C.ID_Producto
		WHERE	ID_Usuario = @ID_Usuario) < 0
	BEGIN

		SELECT 'FALSE'
		
	END
	ELSE
	BEGIN

		DECLARE @TotalCompra DECIMAL(18,2)
		DECLARE @CodigoFactura BIGINT
	
		SELECT	@TotalCompra = SUM(P.Precio * C.Cantidad) + (SUM(P.Precio * C.Cantidad) * 0.13)
		FROM	Carrito C
		INNER	JOIN Producto P ON C.ID_Producto = P.ID_Producto
		WHERE	ID_Usuario = @ID_Usuario

		INSERT INTO dbo.Factura_Encabezado(ID_Usuario,FechaCompra,TotalCompra)
		VALUES (@ID_Usuario, GETDATE(), @TotalCompra)

		SET @CodigoFactura = @@IDENTITY

		INSERT INTO dbo.Factura_Detalle(ID_Factura,ID_Producto,PrecioPagado,CantidadPagado,ImpuestoPagado)
		SELECT	@CodigoFactura, C.ID_Producto, P.Precio, C.Cantidad, P.Precio * 0.13
		FROM	Carrito C
		INNER	JOIN Producto P ON C.ID_Producto = P.ID_Producto
		WHERE	ID_Usuario = @ID_Usuario

		UPDATE	P
		SET		P.Cantidad = P.Cantidad - C.Cantidad
		FROM	Producto P
		INNER	JOIN Carrito C ON C.ID_Producto = P.ID_Producto
		WHERE	ID_Usuario = @ID_Usuario

		DELETE FROM Carrito
		WHERE ID_Usuario = @ID_Usuario

		SELECT 'TRUE'

	END

END
GO
/****** Object:  StoredProcedure [dbo].[RecuperarCuentaUsuarioSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RecuperarCuentaUsuarioSP]
	@Correo varchar(100)
AS
BEGIN
	
	SELECT Nombre_Usuario,
			Apellido_Usuario,
			Correo_Usuario,
		   Contrasenna_Usuario
	  FROM dbo.Usuario
	  WHERE Correo_Usuario = @Correo
	  AND	ID_Estado = 1

END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarCategoriaSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RegistrarCategoriaSP]
    @Categoria varchar(20),
	@Estado_Categoria int
AS
BEGIN
    INSERT INTO [dbo].[Categorias] (
        [Nombre_Categoria],
		[Estado_Categoria]
    )
    VALUES (
        @Categoria,
		1
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarEmpresaSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RegistrarEmpresaSP]
    @Nombre_empresa varchar(255),
    @Descripcion varchar(255),
    @Ubicacion varchar(255)
AS
BEGIN
    INSERT INTO [dbo].[Empresa] (
        [Nombre_empresa],
        [Descripcion],
        [Ubicacion]
    )
    VALUES (
        @Nombre_empresa,
        @Descripcion,
        @Ubicacion
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarProveedorSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RegistrarProveedorSP]
    @Nombre_Proveedor varchar(60),
    @Apellido_Proveedor varchar(70),
	@tipo int,
    @Cedula_Proveedor varchar(25),
    @Direccion_Exacta varchar(255),
    @Estado_Proveedor int,
    @Empresa bigint,
    @Telefono varchar(15),
    @Correo varchar(100)
AS
BEGIN
    INSERT INTO [dbo].[Proveedores] (

        [Nombre_Proveedor],
        [Apellido_Proveedor],
		[ID_Identificacion],
        [Cedula_Proveedor],
        [Direccion_Exacta],
        [Estado_Proveedor],
        [Empresa],
        [Telefono],
        [Correo]
    )
    VALUES (
		@Nombre_Proveedor,
        @Apellido_Proveedor,
		@tipo,
        @Cedula_Proveedor,
        @Direccion_Exacta,
        1,
        @Empresa,
        @Telefono,
        @Correo
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuarioSP]    Script Date: 2/2/2024 11:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarUsuarioSP]
	@tipo int,
	@Identificacion varchar(25),
    @Nombre         varchar(60),
	@Apellido         varchar(70),
    @Correo         varchar(100),
    @Contrasenna    varchar(50),
	@Telefono    varchar(20)
AS
BEGIN

	INSERT INTO dbo.Usuario (ID_Identificacion,Identificacion_Usuario,Nombre_Usuario,Apellido_Usuario,Correo_Usuario,Contrasenna_Usuario,ID_Direccion,Telefono_Usuario,ID_Estado,ID_Rol)
    VALUES (@tipo,@Identificacion,@Nombre,@Apellido,@Correo,@Contrasenna,null,@Telefono,1,2)

END
GO
USE [master]
GO



USE [ImportadoraMoyaUlate]
GO

/****** Object:  Table [dbo].[compras]    Script Date: 18/02/2024 07:33:31 p. m. ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[compras](
	[id_compras] [int] IDENTITY(1,1) NOT NULL,
	[Empresa] [bigint] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[concepto] [nvarchar](255) NOT NULL,
	[cantidad] [int] NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_compras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[compras]  WITH CHECK ADD  CONSTRAINT [FK_compras_Empresa] FOREIGN KEY([Empresa])
REFERENCES [dbo].[Empresa] ([ID_Empresa])
GO

ALTER TABLE [dbo].[compras] CHECK CONSTRAINT [FK_compras_Empresa]
GO



USE [ImportadoraMoyaUlate]
GO

/****** Object:  StoredProcedure [dbo].[RegistrarCompra]    Script Date: 18/02/2024 07:34:12 p. m. ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[RegistrarCompra]
    @Empresa bigint,
    @Fecha DATETIME,
    @concepto NVARCHAR(255),
    @Cantidad INT,
    @Total DECIMAL(10, 2)
AS
BEGIN
    INSERT INTO compras (Empresa, Fecha, Concepto, Cantidad, Total)
    VALUES (@Empresa, @Fecha, @concepto, @Cantidad, @Total);
END;
GO




USE [ImportadoraMoyaUlate]
GO

/****** Object:  StoredProcedure [dbo].[ActualizarCompra]    Script Date: 18/02/2024 07:34:35 p. m. ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ActualizarCompra]
    @IdCompra INT,
    @Empresa bigint,
    @Fecha DATETIME,
    @concepto NVARCHAR(255),
    @Cantidad INT,
    @Total DECIMAL(10, 2)
AS
BEGIN
    UPDATE compras
    SET 
        Empresa = @Empresa,
        fecha = @Fecha,
        concepto = @concepto,
        cantidad = @Cantidad,
        total = @Total
    WHERE id_compras = @IdCompra;
END;
GO






